    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        
        <!-- Navigation Bar -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
            
            <a class="nav-link" data-bs-toggle="modal" href="#exampleModal">Sign In/Enroll</a>
          </div>
        </div>
      </div>
    </nav>

    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Sign In</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <div class="container">
                  <input class="col-md-6" placeholder="Email"></input>
                  <input class="col-sm-4" placeholder="Password"></input>
              
                  
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary">Sign In</button>
              <a type="button" class="btn btn-primary" href="/signup">Sign Up</a>
            </div>
          </div>
        </div>
      </div>
      </div>

<br>
<div class="card mb-3" style="max-width: 540px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="/profilepic.png" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h2 class="card-title">{{username}}</h2>
          
        </div>
      </div>
    </div>
  </div>
<br>
<br>
      
   <div class="container">
        <table class="table table-striped">
     <thead>
       <tr>
         <th scope="col"><h1>Reservation Results</h1></th>
       </tr>
     </thead>
     <thead>
      <tr>
        <th scope="col">Reservation Number</th>
        <th scope="col">Location</th>
        <th scope="col">Pick Up Time</th>
        <th scope="col">Drop Off Time</th>
        <th scope="col">Vehicle</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>{{placeholder}}</td>
        <td>{{placeholder}}</td>
        <td>{{placeholder}}</td>
        <td>{{placeholder}}</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>{{placeholder}}</td>
        <td>{{placeholder}}</td>
        <td>{{placeholder}}</td>
        <td>{{placeholder}}</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>{{placeholder}}</td>
        <td>{{placeholder}}</td>
        <td>{{placeholder}}</td>
        <td>{{placeholder}}</td>
      </tr>
    </tbody>
   </table>
   
      </div>
     

   
    <script src="./js/res.js"></script>